* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#root {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.main {
  width: 80%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.navbar,
.title {
  padding: 20px;
  color: #f9f9f9;
  width: 100%;
}
.title {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  height: calc(100vh - 150px);
  width: 70%;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 50px;
}
.content::-webkit-scrollbar {
  display: none;
}

.form-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 60%;
  background-color: rgb(40, 40, 40);
  padding: 0px 20px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.explain-btn {
  margin: 20px 0 50px 0;
  width: 50%;
}

/* Styling the input and button */
.form-container input {
  background-color: transparent;
  color: white;
  width: 80%;
  height: 80px;
  padding: 5px;
  border: none;
  font-size: large;
}
.form-container input:focus {
  outline: none;
}

.form-container > input::placeholder {
  color: #aaa;
  font-style: italic;
}

button {
  width: 20%;
  padding: 10px;
  height: 60px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
}

button:hover {
  background-color: #8e8d8d;
  color: white;
  border: 1px solid white;
}

button.disabled {
  pointer-events: none; /* Disable all interactions */
  cursor: not-allowed; /* Change cursor to indicate it’s disabled */
  opacity: 0.6; /* Optional: make the button visually look disabled */
}

.ideas-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 20px; */
}
.choices-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.instruction {
  color: #c3c3c3;
  font-size: 16px;
}

.ideas-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 150px;
  width: 500px;
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.ideas-div::-webkit-scrollbar {
  display: none;
}
.ideas-div:nth-child(1) {
  border: 3px solid gold;
}

.ideas-div:nth-child(2) {
  border: 3px solid silver;
}

.ideas-div:nth-child(3) {
  border: 3px solid #cd7f32;
}

.ideas-score {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.ideas-div:nth-child(1) .ideas-score,
.ideas-div:nth-child(1) .ideas-reason {
  background-color: gold;
}

.ideas-div:nth-child(2) .ideas-score,
.ideas-div:nth-child(2) .ideas-reason {
  background-color: silver;
}

.ideas-div:nth-child(3) .ideas-score,
.ideas-div:nth-child(3) .ideas-reason {
  background-color: #cd7f32; /* Bronze color */
}
.ideas-div.selected {
  background-color: #717171;
  color: black;
  border-color: #000000;
  border: 2px solid #03cb24;
}
.ideas-div:hover {
  background-color: #c0bebe;
}

.ideas-reason {
  position: absolute;
  top: 50%;
  left: 102%;
  transform: translate(0, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ideas-reason p {
  font-size: 14px;
  position: inherit;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
}

.ideas-explained {
  font-size: 16px;
  line-height: 1.6;
  color: #f9f9f9;
  /* padding: 20px; */
}

.ideas-explained h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #222;
}

.ideas-explained h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #444;
}
.ideas-explained h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.ideas-explained h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #444;
}

.ideas-explained p {
  margin-bottom: 12px;
}

.ideas-explained ul {
  list-style-type: disc;
  margin-left: 20px;
}

.ideas-explained ul li {
  margin-bottom: 8px;
}

.ideas-explained .highlight {
  color: #0056b3;
  font-weight: bold;
}
